<!DOCTYPE html>
<html>
<head>
	<title>Team Building Activity Selector</title>
</head>
<body>
	<h1>Select a Team Building Activity</h1>
	<form method="post">
		<label><input type="radio" name="activity" value="Escape Room">Escape Room</label><br>
		<label><input type="radio" name="activity" value="Paintball">Paintball</label><br>
		<label><input type="radio" name="activity" value="Cooking Class">Cooking Class</label><br>
		<label><input type="radio" name="activity" value="Scavenger Hunt">Scavenger Hunt</label><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
